# Variables, Data Types and Structures

We will first explore the concept of variables that are used to label and store values (and other things) in a program. 

Using the recipe below as an analogy, `n` label for a `variable` that stores a value (e.g. the number of  IWC scoops). This `variable` can be referenced in other parts/steps of the recipe that we will explore later

![programming_2.png](images/programming_2.png)

Each `variable` can contain specific `data types` and they can be organized into different `data structures`
- Data types describe the data (e.g. numbers or characters)
- Data structures organize data (e.g. lists)

---
## Variables
- Variables are used to store ```data``` (as well as objects and functions)
- We use the ```assignment operator``` to link a variable to a data/object/function

### Assignment operator

In R, we conventionally use the leftward operator ```<-```
- variable `name` on the `left`
- `value` on the `right`

In [ ]:
variable <- 30

In [ ]:
variable

When we assign a new value to the same variable, it will override any previous value

In [ ]:
variable <- 20

In [ ]:
variable

A variable can also be used as part of calculation or function and assigned to itself to update the contents

In [ ]:
# Incrementing the value by 1
variable <- variable + 1

In [ ]:
variable

### Picking variable names

The variable name needs to follow rules in order for it to be valid

1. Identifiers can be a combination of letters, digits, period (.) and underscore (_).
2. It must start with a letter or a period. If it starts with a period, it cannot be followed by a digit.
3. Reserved words in R cannot be used as identifiers.

**Examples of valid names**

```patientID``` ```Patient_ID``` ```.patientid``` ```patientcat1```

**Examples of invalid names**

```patient@ID``` ```1patient``` ```_patient``` ```NA``` ```.1patient```

If we use an invalid variable name, R will throw an error

In [ ]:
NA <- 10 # reserved word in R

### Listing and deleting variables

We can list and delete variables using reusable recipes (called functions) that hide away the details of how it is implemented. There are 2 built-in functions

- `ls` function to list the current variables. 
- `rm` function for deleting a variable

Each function follows the format of `function_name(parameter)`. The parameter specifies additional information if required

In [ ]:
ls() # no parameter needed

Note that we need to put the ```()``` brackets after a function. If this is omitted, R will list the contents of the function

In [ ]:
ls

To remove/delete a variable, we use the `rm` function and specify the `name` of the variable that we want to delete within the brackets as a `parameter`

In [ ]:
# removing variable from the environment

rm(variable)

If we reference a non-existent variable, R will report an error

In [ ]:
variable

---
## Basic Data Types

Data can be quantitative or qualitative and in R, we will be using 4 basic data types

![data_types_table.png](images/data_types_table.png)

How do we specify the data type to be stored in a variable? When we assign values to variables, R infers the data type based on context of the value
 - `numeric`: digits (including decimal)
 - `integer`: digits with `L` suffix
 - `character`: enclosed in quotes
 - `logical`: `TRUE/FALSE`, `T/F` (capitalized)

In [ ]:
# Let's assign some values to variables

age <- 10          # number
name <- "Alice"    # string (enclosed in quotes)
asthma <- FALSE    # logical
visits <- 2L       # number (integer)

In [ ]:
# We can examine the contents of the variables

age
name
asthma
visits

### Checking and testing the data type of a variable

We can check the data type by using the built-in `class` function

In [ ]:
# We can check the data type of the variables

class(age)
class(name)
class(asthma)
class(visits)

Note that although we assigned numbers to both ```age``` and ```visits```, the data type of the ```visit``` variable is an ```integer```
- This is because the suffix ```L```indicates that the number should be an ```integer```

We can also test whether a variable is of a certain data type with following functions with the prefix `is`. These functions return `TRUE/FALSE`
- `is.numeric`
- `is.character`
- `is.logical`
- `is.integer`

In [ ]:
is.numeric(age)
is.character(name)
is.logical(asthma)
is.integer(visits)

### Indicating a variable is empty/null

Sometimes, we need to indicate that a variable is empty or null. This is useful to indicate `missing` or `not applicable` values 

To do this, we assign the `NA` keyword as a value to the variable. This value is treated as a `logical` data type

In [ ]:
# what if you want to indicate that a variable is empty/null?

occupation <- NA # for example, this data
                 # is not applicable for a child

class(occupation)

We can test if the variable is empty/null using the `is.na` function
- `TRUE` indicates that the variable is empty/null
- `FALSE` indicates that the variable contains data

This will be useful when checking for missing values in a dataset

In [ ]:
is.na(occupation)  # checking if a variable is NA

### Changing one data type to another

Sometimes, we need to change one data type to another because  operations that use >1 variable need them to be of the same data type

- An example of this would be the addition of 2 variables containing numbers. This requires both variables to be of the same data type (numeric or integer)

This diagram shows the different ways that data types can be changed (coerced) into another

- a `logical` data type (TRUE/FALSE) can be changed 
  - to a `character` type "TRUE" or "FALSE"
  - to a `numeric` type where TRUE = 1, FALSE = 0
- a `numeric` data type can be changed to a `character` type e.g. 1 becomes "1"
- a `character` data type (containing numbers only) can be changed to a `numeric` type e.g. "1" becomes 1

![coercion.png](images/coercion.png)

From: https://rstudio-education.github.io/hopr/r-objects.html

These conversions can be performed using the following functions with the `as` prefix
- `as.numeric`
- `as.character`
- `as.logical`
- `as.integer`

Let us try converting age (numeric) to a character type using  the `as.character` function

In [ ]:
age # print age variable (numeric)

age <- as.character(age)
class(age)

age # print age variable (character)

As the `age` variable contains a number in a character form, we can convert it back into the `numeric` type using the `as.numeric` function

In [ ]:
age # print age variable (character)

age <- as.numeric(age)
class(age)

age # print age variable (numeric)

**When is conversion/coercion useful?**

It is useful if we need to perform an operation/calculation that requires the _same_ data type

Let us take an example where we have a variable `increment` that contains a number as a `character` type (using enclosed quotes)

In [ ]:
increment <- "1"
increment

Now, let us trying adding this `increment` to the `age` variable. Both contain numbers but they are different data types
- `age`: numeric
- `increment`: character

In [ ]:
age + increment

As you can see, R gives an error as it expects both data types to be numeric when we are adding.

To fix this, we coerce the `increment` variable to the `numeric` data type before adding it to the `age` variable

In [ ]:
age + as.numeric(increment)

### Conversion of numeric/integer data types

When dealing with numbers, they can be `numeric` or `integer` types

- ```numeric``` for decimal values (e.g. 11.5, 3.14)
- ```integer``` for whole numbers

An important point to note is that if we coerce a ```numeric``` value to an```integer``` value, the decimal representation is lost and we lose information

As an example, let us create a variable with a `numeric` data type

In [ ]:
glucose <- 12.5
class(glucose)

We coerce the variable to an `integer` data type using the `as.integer` function

In [ ]:
glucose
glucose <- as.integer(glucose)
class(glucose)
glucose

As we can see, this results in a loss of information as the decimal portion is lost during the coercion

What happens when we try and convert it back to a `numeric` type?

In [ ]:
glucose <- as.numeric(glucose)
class(glucose)
glucose

When we try and convert the `integer` data type back to `numeric`, it does **not** restore the lost information

---
### Summary of variables and basic data types

- Assignment of a variable is done using the `<-` operator
  - e.g. `x <- 10`
- Variables can be listed using `ls()` and deleted using `rm()`
- Basic data types for values include
  - `numeric` for decimal numbers
  - `integer` for integers
  - `character` for strings
  - `logical` for boolean (`TRUE/FALSE`) and `NA`
- `NA` can be assigned to a variable to indicate missing or not applicable data
- Functions for checking and testing data types
  - Checking data type: `class()`
  - Testing specific data types (returns `TRUE/FALSE`)
    - `is.numeric()`
    - `is.integer()`
    - `is.character()`
    - `is.logical()`
  - Testing if variable is empty/null: `is.na()`
- Data types can be converted/coerced to another data type for operations where variables need to be of the same type
  - a `logical` data type (`TRUE/FALSE`) can be changed 
    - to a `character` type "TRUE" or "FALSE"
    - to a `numeric` type where TRUE = 1, FALSE = 0
  - a `numeric` data type can be changed to a `character` type e.g. 1 becomes "1"
  - a `character` data type (containing numbers only) can be changed to a `numeric` type e.g. "1" becomes 1
- Functions for coercion of data types
  - `as.numeric()`
  - `as.integer()`
  - `as.character()`
  - `as.logical()`
- Example of coercion to numeric type on same variable `x`
  - `x <- as.numeric(x)`

---
### Exercise - Variables/Data Types

Write code to perform the following steps

- Assign an ```integer``` 10 to variable ```x```
- Determine the the data type of variable `x`
- Convert it to a ```character type```
- test whether the variable `x` is a `character` type

In [ ]:
# start here

In [ ]:
# solution

x <- 10L
class(x)
x <- as.character(x)
is.character(x)

---
## Data Structures

From these basic data types, we can use data structures that organize them. We will be covering these 3 types
- `Vectors`: collection of values with the **same** data type
- `Lists`: collection of values with **different** data types
- `Data Frames`: vectors organized as columns (analogous to Excel sheet)

There is another data structure for matrices but we will not covering them

![data_structure.png](images/data_structure.png)

---
### 1. Vectors

![vector.png](images/vector.png)

A vector is a data structure that is a collection of elements with the _same_ data type, including _another vector_

It is defined using the function `c`, which takes `elements` as its parameters

- `c( element_1, element_2, element_3, .... )`

**Example of vectors**

Let us define different vectors representing collection of data representing patients
- `age`: numeric
- `name`: character
- `asthma`: logical TRUE/FALSE
- `risk`: character

In [ ]:
# vector 

vector_age <- c(10,20,30,40)
vector_name <- c("Alice", "Bob", "Charlie", "David")
vector_asthma <- c(F,T,F,F)
vector_risk <- c("low", "med", "high", "high")

In [ ]:
# print vectors

vector_age
vector_name
vector_asthma
vector_risk

We can use the `class` function to check the data types contained in each vector

In [ ]:
# we can check the data type contained in the vector

class(vector_age)
class(vector_name)
class(vector_asthma)
class(vector_risk)

**Adding elements to an existing vector**

Besides the basic data types, vectors can also include other vectors of the same data type. This is useful when we want to add elements to an existing vector

In [ ]:
# vectors can also include vectors

vector_base <- c(1,2,3,4,5)
vector_base <- c(vector_base,6) # idiom for appending values
vector_base

We can also create an empty vector using the function `vector` and add elements to it

In [ ]:
# adding values to an empty vector

vector_initial <- vector() # empty vector
vector_initial <- c(vector_initial,1) # append 1
vector_initial <- c(vector_initial,2) # append 2
vector_initial <- c(vector_initial,3) # append 3

vector_initial

**Finding out the number of elements in a vector**

We can find out the length of the vector (i.e number of elements) by using the function `length`

In [ ]:
# we can check the length of each vector

length(vector_age)
length(vector_name)
length(vector_asthma)
length(vector_risk)

**Be careful of mixing data types in a vector**

Vectors contain data of the same type. However, if we inadvertently include different data types, there may not be any warning of an unintended effect

In [ ]:
# what do you think will happen?

vector_mixed <- c(10, "ten", 30, "forty", TRUE, NA)

No error occurred although the elements were of different data types
- R coerces the different data types to a `character` type
- As all elements are of the same `character` type, they are included in the vector

In [ ]:
# print vector

vector_mixed

In [ ]:
# check the data type of the vector

class(vector_mixed)

#### Factors/levels for categorical data

For vectors that have the ```character``` data type, we may consider converting it into a ```factor``` class for **categorical** data
- A ```factor``` class consists of different ```levels```, representing different categories:
  - levels can be used for _grouping_ during analysis
  - levels can be _arranged_ if the categorical data is ordered (e.g. low < med < high risk)

To do this, we use the `factor` function

In [ ]:
vector_risk <- factor(vector_risk)
vector_risk

In [ ]:
class(vector_risk)

We can use the ```levels``` function to list the levels and ```nlevels``` function to show the number of levels (categories)

In [ ]:
levels(vector_risk)
nlevels(vector_risk)

Having levels allows levels (categories) to be used as a **grouping** variable. Using the ```table```, we can tabulate the counts for each level

In [ ]:
table(vector_risk)

**Specifying the order of categories**

Note that by default, the order of levels is **alphabetical**. Here, it is ordered as ```high```, ```low``` and ```med```. 
- This may not be what we want and we can explicitly specify the order of levels using the ```levels``` option in the ```factor``` function
- The `levels` option takes in a `vector` of the categories in the order that you want

In [ ]:
vector_risk <- factor(vector_risk, levels = c("low", "med", "high"))
vector_risk

In [ ]:
levels(vector_risk)
nlevels(vector_risk)

The order of levels has changed

In [ ]:
table(vector_risk)

This is also reflected in the count data using the ```table``` function

#### Selecting data in a vector by index

It can be useful to select the data in a vector and we can do it by referring to the position/index of the element. 

- The data is selected using square brackets `[]`
- Note that the index starts from **1** in R

![vector_index.png](images/vector_index.png)

Let us start by considering `vector_age`

In [ ]:
vector_age

To select a single element, we specify the index of the element we want within the square brackets `[]`

In [ ]:
vector_age[1] # element at index 1

To select a range of elements, we specify the range as `start_index:end_index` within the square brackets `[]`

In [ ]:
vector_age[1:3] # elements at indexes 1 to 3

To select specific elements, we specify the indexes we want in a `vector` within the square brackets `[]`

In [ ]:
vector_age[c(1,3)] # elements at index 1 and 3

We can also exclude elements by prefixing the selection with `-`

In [ ]:
vector_age[-1] # exclude element at index 1

In [ ]:
vector_age[-1:-3] # exclude elements from 1 to 3

In [ ]:
vector_age[-c(1,3)]  # exclude elements 1 and 3

#### Selecting data in a vector by name/label

Besides using indexes, we can select data from vectors using names if each element has a label

![vector_name.png](images/vector_name.png)

A vector with labeled elements is made by specifying the label for each element
- `label`=`value`

Let us consider an example of categories for grades

In [ ]:
vector_grade <- c(A=">85", B="70-85", C="60-70", D="<60")

In [ ]:
vector_grade

Note that each element now has a corresponding label

To list the labels for a vector, we can use the `names` function

In [ ]:
# we use the names function to list the names in a vector
names(vector_grade)

To select a specific element, we specify the `label` (in quotes) within the square brackets `[]`

In [ ]:
vector_grade["B"]

To select specific elements, we specify the labels (in quotes) we want in a `vector` within the square brackets `[]`

In [ ]:
vector_grade[c("A","D")]

#### Summary of vector data structure

- Defined as `c(value1, value2,..)` or `vector(value1, value2,..)`
- Values in a vector are the same data type
- `length(vector)` gives the number of values in the vector
- Data can be appended to an empty or existing vector
  - `vector_data <- c(vector_data, value)`
- A vector with categorical data can be converted to a factor type using `vector <- factor(vector)`
  - By default, the categories(levels) are arranged alphabetically
  - The arrangement of levels are specified as `factor(vector, levels=c("label1,"label2",..)`
- Data can be selected using an index
  - `vector[index]`: single index
  - `vector[start:end]`: range indexes
  - `vector[-index]`: exclude an index
  - `vector[c(index1, index3,..)]`: specific indexes
- Data can be selected by label if the vector is defined with labels `vector(label1=value1, label2=value2,..)`
  - `labeled_vector["label"]`: single label
  - `labeled_vector[c("label1","lable3",..)]`: specific labels

---
#### Exercise - Vectors

In [ ]:
# Data preparation 

age <- c(45,52,35,56)
id <- c("132", "135", "155", "157", "332")
diabetes <- c(F,T,F,F)
wt <- c("normal", "obese", "overweight", "obese")
gender <- c("M", "F", "F", "M")

##### Part 1

Select everyone except ```155``` from ```id```

In [ ]:
# start here

In [ ]:
# solution

id[-3]

##### Part 2

Show a table of counts for those with diabetes (T) and those without (F) from ```diabetes```

In [ ]:
# start here

In [ ]:
# solution

table(diabetes)

##### Part 3

Check class of ```wt``` and if necessary, change it to a factor with order, then show a table of counts

In [ ]:
# start here

In [ ]:
# solution

class(wt)
wt <- factor(wt, levels=c("normal", 
                          "overweight", 
                          "obese"))
table(wt)

---
### 2. List

![list.png](images/list.png)

A ```list``` is a data structure that can contain different data types (_including other data structures like lists/vectors/data frames_), unlike a ```vector```

It is defined using the function `list`, which takes `elements` as its parameters

- `list(element_1, element_2, element_3, ...)`

Let us consider an example of a list which contains different data types
- `4`: numeric
- `patients`: character
- `vector_age`: vector of numeric data
- `vector_name`: vector of character data
- `vector_asthma`: vector of logical data

In [ ]:
list_of_data <- list(4, "patients", vector_age, vector_name, vector_asthma)

In [ ]:
list_of_data

We can use the `length` function to get the number of elements in the `list`

In [ ]:
length(list_of_data)

#### Selecting data in a list using indexes

It can be useful to select the data in a list and we can do it by referring to the position/index of the element

- The data is selected using square brackets `[]`
- Note that the index starts from **1** in R

![list_index.png](images/list_index.png)

To select an element, we specify the index within the square brackets `[]`
- Unlike a vector, the `[]` selector returns a list and not the data type of the element

In [ ]:
list_of_data[3]
class(list_of_data[3])

To return the data as intended, we will need to unlist the returned list from the `[]` selection by using the `unlist` function

In [ ]:
unlist(list_of_data[3]) # unlisting returns the original vector (numeric)
class(unlist(list_of_data[3]))

As a **shorthand notation**, we can use the double square bracket `[[ ]]` syntax

In [ ]:
list_of_data[[3]] # double bracket = unlisting and returning the data
class(list_of_data[[3]])

#### Selecting data in a list by name/label

Besides using indexes, we can select data from lists using names if each element has a label

![list_name.png](images/list_name.png)

A list with labeled elements is made by specifying the label for each element
- `label`=`value`

Let us consider an example where labels are added to the list of patient data

In [ ]:
list_of_data_named <- list(num=4, type="patients", age=vector_age, name=vector_name, asthma=vector_asthma)

In [ ]:
list_of_data_named

Note that each element now has a corresponding label

We can list the names of labels using the `names` function

In [ ]:
# we use the names function to list out the names in the list
names(list_of_data_named)

Note that as before, if we use the `[]` selector on a label of interest, the data is returned as a `list`

In [ ]:
list_of_data_named["age"]
class(list_of_data_named["age"])

To return the data as the original data type, we use the shorthand `[[ ]]` selector on the label of interest to `unlist` the data returned

In [ ]:
list_of_data_named[["age"]]
class(list_of_data_named[["age"]])

We can use the **shorthand** ```$``` selector followed by the name of the label to `unlist` the data returned

In [ ]:
list_of_data_named$age
class(list_of_data_named$age)

#### Combining selectors for lists and vectors

We can also combine/chain selectors to drill down to the data point we want e.g. when a `vector` is contained within a `list`

In [ ]:
list_of_data

As an example, here we want to get the 3rd element (`vector_age`) from the list and then select the 1st element within 'vector_age'
- We first use the `[[ ]]` selector to select the element from the list and ``unlist`` it to return the data in its original type (in this case, a `vector`)
- We next add the `[]` selector to the `vector` to select the element within the vector

In [ ]:
list_of_data[[3]][1] # return the vector from 3 element in list, then select the 1st element

Similarly, we can do the same for labeled lists

In [ ]:
list_of_data_named

As an example, here we want to get vector by the `age` label from the list and then select the 1st element within `vector`

We can use the `[[ ]]` or the `$` selector

In [ ]:
# [[ ]] selector

list_of_data_named[["age"]][1]

In [ ]:
# $ selector

list_of_data_named$age[1]

#### Summary of list data structure

- Defined as `list(value1, value2,..)`
- Values in a list are the different data type
- `length(list)` gives the number of values in the list
- Data can be selected using an index
  - `list[index]`: returns data as a list
  - `list[[index]]`: returns data in original form
- Data can be selected by label if the list is defined with labels `list(label1=value1, label2=value2,..)`
  - `list["label"]`: returns data as a list
  - `list[["label"]]`: returns data in original form
  - `list$label`: shorthand to return data in original form

---
#### Exercise - Lists

Select the fourth name from the ```name``` element in ```list_of_data_named```

In [ ]:
list_of_data_named <- list(num=4, 
                           type="patients", 
                           age=vector_age, 
                           name=vector_name, 
                           asthma=vector_asthma)

# start here

In [ ]:
# solution

list_of_data_named$name[4]

---
### 3. Data Frames

![dataframe.png](images/dataframe.png)

A data frame is a collection of vectors arranged in columns and the most common data structure used in data analysis, analogous to an Excel spreadsheet
- Each column is a `vector` representing attributes (e.g. age, gender, disease)
- Each row is a record for an observation (e.g. patient)

It is defined using `data.frame` and takes pairs of `label=vector` as parameters
- `data.frame(label_1=vector_1, label_2=vector_2, ...)`

In [ ]:
this_is_a_df <- data.frame(id=c(20201,20205,20212,20213,20216), 
                           age=c(19,45, 23, 55, 65), 
                           name=c("Alice","Bob","Charlie","David", "Eliza"),
                           risk=c("low", "med", "high", "high","med"))

In [ ]:
this_is_a_df

We can use the following functions to obtain the dimensions of the data frame
- `length`: number of vectors
- `nrow`: number of rows
- `ncol`: number of columns (same as length)

In [ ]:
length(this_is_a_df) # length is counted column-wise
nrow(this_is_a_df)   # number of rows
ncol(this_is_a_df)   # number fo columns

#### Selecting data using indexes

![dataframe_index.png](images/dataframe_index.png)

We can select the values from a dataframe using indexes
- Data is selected using the `[row,column]` syntax
- Row and column indexes start with 1 (top to bottom, left to right)

In [ ]:
this_is_a_df

**Selecting single value**

As an example, we will select `row 2` and `column 3` from the `this_is_a_df`

In [ ]:
this_is_a_df[2,3] # row = 2, column = 3

**Selecting single row**

To select a row, we omit the column and specify the selector as `[row, ]`

In [ ]:
this_is_a_df[1,] # row = 1

**Selecting single column**

To select a column, we omit the row and specify the selector as `[,column]`

In [ ]:
this_is_a_df[,1] # col = 1

**Omitting single row or column**

We can omit row or columns by adding the prefix `-` to the index

In [ ]:
this_is_a_df[-1,] # omit row 1

In [ ]:
this_is_a_df[,-1] # omit column 1

**Selecting range of rows**

To select a range of rows, we specify the `start:end` range as the rows in `[row, ]`

In [ ]:
this_is_a_df[1:3,]

**Selecting range of columns**

To select a range of columns, we specify the `start:end` range as the columns in `[,column]`

In [ ]:
this_is_a_df[,1:2]

**Omitting range of rows or columns**

We can omit a range of rows or columns by adding the prefix `-` to the `vector` containing the `start:end` range

In [ ]:
this_is_a_df[-c(1:3),] # omit rows 1-3

In [ ]:
this_is_a_df[,-c(1:2)] # omit columns 1-2

**Selecting specific rows**

To select specific rows, we specify the row indexes as a vector in `[row,]`

In [ ]:
this_is_a_df[c(1,3),] # rows 1 and 3

**Selecting specific columns**

To select specific columns, we specify the column indexes as a vector in `[,column]`

In [ ]:
this_is_a_df[,c(1,3)] # columns 1 and 3

**Omitting specific rows/columns**

We can omit specifc rows/columns by adding the prefix `-` to the vector

In [ ]:
this_is_a_df[-c(1,3),] # omit rows 1 and 3

In [ ]:
this_is_a_df[,-c(1,3)] # omit columns 1 and 3

#### Selecting data using labels/names

Besides using indexes, we can select data from a data frame using `row names` or `column names`

![dataframe_name.png](images/dataframe_name.png)

The `column names` are already specified in a data frame. By default, the `row names` are labeled sequentially i.e. `1,2,3...`

In [ ]:
this_is_a_df

In [ ]:
colnames(this_is_a_df) # column names

In [ ]:
rownames(this_is_a_df) # row names

If needed, we can override the default row names by assigning a `vector of names` for each of the rows

In [ ]:
rownames(this_is_a_df) <- c("patient1","patient2","patient3","patient4","patient5")
rownames(this_is_a_df)

In [ ]:
this_is_a_df

**Selecting a row by name**

To select a row by name, we specify the row name (in quotes) as `[row,]`
- This returns a data frame with the row

In [ ]:
this_is_a_df["patient1",]

**Selecting a column by name**

To select a column by name, we can specify the column name (in quotes) as `[column]`
- This returns a data frame with the column

In [ ]:
# Selecting using the [] syntax

this_is_a_df["age"] # returns a slice of the data frame

More commonly, we want to select a column by name and return it as a `vector`. To do this, we use the `$` selector

In [ ]:
this_is_a_df$age

**Selecting specific rows by name**

To select specific rows by name, we specify the row names as a `vector` in `[row,]`

In [ ]:
# selecting multiple rows

this_is_a_df[c("patient1", "patient3"),]

**Selecting specific columns by name**

To select specific columns by name, we specify column names as a `vector` in `[,column]`

In [ ]:
# selecting multiple columns

this_is_a_df[c("id", "age")]

#### Summary of dataframe data structure

- Collection of vectors arranged in column form
- Defined as `data.frame(column1=vector1, column2=vector2,..)`
- Row names by default are numbered sequentially but they can be relabeled `rownames(df) <- c("row1", "row2",..)`
- Functions to obtain dimensions
  - `length`: number of vectors
  - `nrow`: number of rows
  - `ncol`: number of columns (same as length)
- Data can be selected with indexes using `[row, column]` selector
  - `df[row, col]`: returns single value
  - `df[row,]`: returns row
  - `df[,col]`: returns column
  - `df[start:end,]`: returns range of rows
  - `df[,start:end]`: returns range of columns
  - `df[-row,]`: exclude row
  - `df[,-col]`: exclude column
- Data can be selected using row or column names
  - `df["row",]`: returns row as dataframe
  - `df["col"]`: returns column as dataframe
  - `df[c("row1", "row3",)`: returns specific rows
  - `df[,c("col1", "col3")`: returns specific columns
  - `df$col`: returns column as vector

---
#### Exercise - Data Frames

In [ ]:
# Data preparation

this_is_a_df <- data.frame(id=c(20201,20205,20212,20213,20216),
                           age=c(19,45, 23, 55, 65), 
                           name=c("Alice","Bob","Charlie","David", "Eliza"),
                           risk=c("low", "med", "high", "high","med"))

this_is_a_df

##### Part 1

Select rows 1,3,4 from ```this_is_a_df```

In [ ]:
# start here

In [ ]:
# solution

this_is_a_df[c(1,3,4),]

##### Part 2

Select ```name``` and ```age``` from ```this_is_a_df``` and show every row except the last one

In [ ]:
# start here

In [ ]:
# solution

this_is_a_df[-5, c("name","age")]

##### Part 3

Return the risk column as a vector, then show the breakdown of categories in a table

In [ ]:
# start here

In [ ]:
# solution

table(this_is_a_df$risk)